@media only screen and (max-width: 1000px) {
    #about > div{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #about_img > img{
        display: none;
    }
  }
@media only screen and (max-width: 1250px){
    #event_info{
        flex-direction: column;
    }
    #event_info > div > div{
        position: none;
    }
    #event_info > div{
        border: 1px solid grey;
        width: 400px;
        padding: 10px

    }
    #event_info_beginner > img,#event_info_concluder > img{
        border-radius: 0;
    }
}